@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .center-col{
    @apply flex flex-col items-center justify-center;
  }
}


body {
  background: hsla(202, 100%, 71%, 1);
  background: linear-gradient(180deg, hsla(202, 100%, 71%, 1) 0%, hsla(207, 98%, 78%, 1) 85%);
  background: -moz-linear-gradient(180deg, hsla(202, 100%, 71%, 1) 0%, hsla(207, 98%, 78%, 1) 85%);
  background: -webkit-linear-gradient(180deg, hsla(202, 100%, 71%, 1) 0%, hsla(207, 98%, 78%, 1) 85%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#6AC9FF", endColorstr="#8FCCFE", GradientType=1);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}